<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <display-name>Admin Content</display-name>
        <web-resource-collection>
            <web-resource-name>Admin Content</web-resource-name>
            <description>Admin Content</description>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Trainer Content</display-name>
        <web-resource-collection>
            <web-resource-name>Trainer Content</web-resource-name>
            <description>Trainer Content</description>
            <url-pattern>/employees/trainers/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>TRAINER_ROLE</role-name>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Technician Content</display-name>
        <web-resource-collection>
            <web-resource-name>Technician Content</web-resource-name>
            <description>Technician Content</description>
            <url-pattern>/employees/technicians/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>TECH_ROLE</role-name>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Client Content</display-name>
        <web-resource-collection>
            <web-resource-name>Client Content</web-resource-name>
            <description>Client Content</description>
            <url-pattern>/clients/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CLIENT_ROLE</role-name>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/WEB-INF/errorpages/expired.xhtml</location>
    </error-page>
    
</web-app>
